h1 {
  text-align: center;
  font-size: 72px;
  font-weight: normal;
  margin: 6rem 0;
  text-transform: unset;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

@media  screen and (max-width: 480px) {
  h1 {
    font-size: 56px;
  }
}