#hiburan h1 {
  position:absolute;
  width:calc(100vw - 12px);
  top:200px;
}

iframe {
  width:100%;
  height: calc(100vh - 65px);
}

.countdown-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown-section h2 {
  margin-top: 0;
  color: #013832;
}

.countdown{
  font-size:72px;
  width:calc(100vw - 20px);
  display:flex;
  justify-content:center;
  text-align:center;
  color:#233d4d;
  position:relative;
}

.number-unit-pair {
  display: flex;
  flex-direction: column;
}

.countdown span.number {
  width:100px;
  background-color:#094020;
  margin: 0 20px;
  padding:7px 10px;
  color:#ffffff;
}

#hours:before{
  content:':';
  color: #094020;
  font-size:72px;
  position: absolute;
  left: calc(50% - 180px);
}

#minutes:before{
  content:':';
  color: #094020;
  font-size:72px;
  position: absolute;
  left: calc(50% - 20px);
}

#seconds:before{
  content:':';
  color: #094020;
  font-size:72px;
  position: absolute;
  left: calc(50% + 140px);
}

.unit {
  font-size: 24px;
  padding-top: 12px;
}

@media  screen and (max-width: 640px) {
  .countdown {
    flex-direction: column-reverse;
    margin: 12px;
  }

  .number-unit-pair {
    flex-direction: row;
    justify-content: center;
    margin: 12px;
  }

  #hours::before{
    display: none;
  }

  #minutes::before{
    display: none;
  }

  #seconds::before{
    display: none;
  }

  .unit {
    width: 100px;
    text-align: left;
  }
}