html, body {
  width: 100%;
}

#loading-screen h2{
  padding-top:10vw;
  letter-spacing:1px;
  color:rgba(0, 75, 35, 0.8);
}

.loading {
  position: absolute;
  top: 0;
  /* z-index: 9999; */
  width: 100%;
  height: 100vh;
  background-color: green;
}

.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.modal {
  background:#fff;
  padding:10px;
  height:80vh;
  width:40vw;
  overflow:auto;
  min-width: 300px;
  max-width: 600px;
}

.modal .modal-footer{
  height:350px;
  width:calc(100% + 20px);
  margin-left:-10px;
  margin-bottom:-10px;
    background-image:url('https://cdn.glitch.com/9a150b32-f62b-450c-b7ae-0a8489c10e6c%2FBG%20opsi%201dan2%20trnsprn.png?v=1631794416707');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:bottom;
}

.modal .close-button{
  float:right;
}

.modal p{
  padding:1rem 10%;
  line-height:150%;
}

.modal img{
  padding:1rem 10%;
  max-height:250px;
  max-width:30vw;
  width:auto;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.ke-pasar{
  margin-top:30px;
}

div.modal-footer a{
  border-radius:5rem;
  padding:.4rem;
  width:50px;
}

.modal-footer {
  display:flex;
  justify-content:center;
  align-items:flex-start;
  column-gap:10px;
}

#home-link {
  position:absolute;
  right:0;
  background-color:#ffb627;
  margin:2rem 2rem 10px 2rem;
  padding:10px;
  border-radius:5rem;
  text-decoration:none;
  font-size:14px;
  text-transform:lowercase;
  color:#231942;  
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
}

#home-link:hover{
  color:#ffb627;
  background-color:#e2711d;
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
}

#home-link:before{
      font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f015";
    font-size: 19px;
}

.modal a{
  text-decoration:none;
}

.ke-pasar {
  width:70px;
  border:none;
  padding:7px;
  color:white;
  border-radius:7px;
  position:relative;
}

.ke-pasar.kios{
  background-color:#fb8500;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.web{
  background-color:#fb8500;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.ig{
  background-color:#843b62;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.fb{
  background-color:#233d4d;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.kios:hover{
  background-color:#e85d04;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.web:hover{
  background-color:#e85d04;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.ig:hover{
  background-color:#4e148c;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.ke-pasar.fb:hover{
  background-color:#11151c;  
  transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
}

.kios:before{
  font-family: "Font Awesome 5 Free";
  speak: none;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  content: "\f54e";
  font-size: 19px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
}

.web:before {
  font-family: "Font Awesome 5 Free";
  speak: none;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  content: "\f0ac";
  font-size: 19px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
}

.ig:before{
  font-family: "Font Awesome 5 Brands";
  speak: none;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  content: "\f16d";
  font-size: 19px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display:block;
}

.fb:before{
  font-family: "Font Awesome 5 Brands";
  speak: none;
  font-style: normal;
  font-weight: 900;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  content: "\f09a";
  font-size: 19px;
  margin-left:28px;
}

.close-button {
  width:40px;
  height:40px;
  background-color:#c95d63;
  padding:10px;
  border-radius:5rem;
  text-decoration:none;
  font-size:14px;
  text-transform:lowercase;
  color:#ffffff;  
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  border:none;
  position:sticky;
  top:10px;
}

.close-button:hover{
  background-color:#710000;
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
}

.close-button:before{
      font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
    font-size: 19px;
}

.close-button:hover:before{
  transform:rotate(90deg);
  transition:transform .1s ease-in-out;
  color:#fff;
}

.close-button:before{
  display:inline-block;
  transform:rotate(0deg);
  transition:transform .1s ease-in-out;
}

.modal .close-button {
  right:1rem;
}

.modal img{
  padding-top:3rem;
  position:relative;
  left:1rem;
}

.modal h2{
  text-transform:none;
}

.intro.modal {
  display: block;
}

.container-intro-modal{
  width:100%;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
}

.intro.modal img {
  padding-top:1rem;
}

#intro-close-button {
  display:none;
}

.intro.modal {
  height:65vh;
  width:75vw;
}
.close-button#mulai:before{
  display:none;
  width:200px;
}

.close-button#mulai {
  padding-left: 3rem;
  padding-right: 3rem;
  text-indent:-1.2rem;
  text-align: center;
  font-family: 'Montserrat';
  position:relative;
  right:unset;
  margin:auto;
}

.close-button#mulai {
  margin-top:0;
  margin-bottom:3rem;
}

.container-intro-modal {
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  margin:1rem auto 3rem auto;
  padding-bottom:3rem;
  height:calc(100% + 3rem);
}

.tutorial-box {
  width:30%;
}

.map-box{
  width:100%
}

.tutorial-box p{
  text-align:center;
  color:#656d4a;
}

.intro.modal .tutorial-box img, .intro.modal .map-box img{
  padding:0px;
  margin:0px auto;
  display:block;
  width:100%;
  height:auto;
  object-fit:scale-down;
  right:0;
  left:0;
  max-width:unset;
  max-height:unset;
}

.mulai-box{
  width:100%;
}