div.hero {
  min-height: calc(100vh - 65px);
  background-color: #72ccbc;
}

h1 {
  padding: 6rem 0;
  margin: 0;
  font-size: 72px;
  font-weight: normal;
  color: #f0f465;
}

@media  screen and (max-width: 480px) {
  h1 {
    font-size: 56px;
  }
}