div.tenant,
div.products {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

h1, h2 {
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 32px;
}

p {
  line-height:150%;
}

div.tenant {
  min-height: calc(100vh - 65px);
  background-image: url('../assets/bg-opsi-3-kecil-trnsprn.png');
}

div.tenant div.center {
  margin-bottom: 2rem;
}

div.tenant .tenant-info {
  max-width: 350px;
}

div.products {
  min-height: 100vh;
  background-image: url('../assets/bg-opsi-3-kecil-trnsprn.png');
}

div.center {
  display: flex;
}

div.products .products-images,
div.products .products-info {
  max-width: 350px;
  margin: 2rem;
}

div.tenant .tenant-info,
div.products .products-info {
  padding-bottom: 15%;
}

div.links a {
  text-decoration: none;
}

div#image-list {
  display: flex;
}

div#image-list input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

div#image-chosen {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div#image-list img {
  display: block;
  border: solid #013832 1px;
}

div#image-list img.current {
  border-color: #b85e39;
  border-radius: 50%;
}

div#info-produk01,
div#info-produk02,
div#info-produk03,
div#info-produk04,
div#info-produk05 {
  display: none;
}

@media  screen and (max-width: 768px) {
  div.tenant,
  div.products,
  div.center {
    flex-direction: column;
  }

  h1, h2 {
    text-align: center;
  }

  div.links {
    text-align: center;
  }
}