* {
  border: 1px solid #dd0000;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
}

header .header-item {
  margin: 1em 0;
}

header .header-logo {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

ul.mainnav {
  display: flex;
  padding: 0;
  margin: 0;
}

ul.mainnav li {
  margin: auto 1em;
}

.menu-button {
  display: none;
  padding: 0;
}

ul.subnav-edukasi {
  display: none;
  position:absolute;
  padding: 0;
}

ul.subnav-edukasi li {
  margin: auto;
}

.navitem-edukasi:hover .subnav-edukasi {
  display: block;
}

ul.socmed {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 80px;
}

ul.socmed li {
  margin: auto 0;
}

ul.socmed a {
  display: flex;
  align-items:center;
}

@media  screen and (max-width: 1279px) {
  header nav {
    flex-direction: column;
    justify-content: center;
  }

  .menu-button {
    display: flex;
    background-color: transparent;
  }

  ul.mainnav {
    display: none;
    position: absolute;
    top: 114px;
  }

  ul.mainnav.mainnav-small {
    display: block;
  }

  ul.subnav-edukasi {
    position: static;
  }
}