@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/* * {
  border: 1px solid #dd0000;
}
 */
ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  z-index:999;
}

header .header-item {
  margin: 1em 0;
}

header .header-logo {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  color: #013832;
}

ul.mainnav {
  display: flex;
  padding: 0;
  margin: 0;
}

ul.mainnav li {
  margin: auto 1em;
}

.menu-button {
  display: none;
  padding: 0;
  border: none;
}

ul.subnav-edukasi {
  display: none;
  position:absolute;
  padding: 0;
}

ul.subnav-edukasi li {
  margin: auto;
}

.navitem-edukasi:hover .subnav-edukasi {
  display: block;
}

ul.socmed {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 125.333px;
}

ul.socmed li {
  margin: auto 0;
}

ul.socmed a {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

header ul.socmed a {
  background-color: #013832;
}

footer ul.socmed a {
  background-color: #a90b0b;
}

@media  screen and (max-width: 1279px) {
  header nav {
    flex-direction: column;
    justify-content: center;
  }

  .menu-button {
    display: flex;
    background-color: transparent;
  }

  ul.mainnav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100%;
    z-index: 1;
    padding-top: 65px;
    text-align: center;
  }

  ul.mainnav.mainnav-small {
    display: block;
  }

  ul.subnav-edukasi {
    position: static;
  }
}

/* THIS PART START PII */


/* GENERAL STYLING */
p,
ul,
small,
span,
div,
a,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* FOOTER */
footer {
  background-image: url("https://cdn.glitch.com/9a150b32-f62b-450c-b7ae-0a8489c10e6c%2Ffooter-bg.png?v=1631786135165");
  background-color: #EFE963;
}

footer .footer-container {
  padding: 5rem 3rem 0rem;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

footer .company-identity {
  width: 300px;
  font-size: 16px;
  line-height: 150%;
  color: #013832;
}

footer .copyright-container {
  background-color: #094020;
  color: #fff;
  padding: 1rem 3rem 1rem;
}

footer .right-container{
  display:flex;
  position:relative;
}

footer .plant {
  width:100px;
  display:block;
  position:relative;
}

footer .plant img{
  width:120px;
  height:auto;
  position:absolute;
  bottom:0;
  left:0;
}

footer ul.socmed {
  position:absolute;
  bottom:0;
  right:0;
}

footer .socmed-container{
  position:relative;
}

/* HEADER */

header {
  height:65px;
  padding:0 3rem;
}

header a {
  font-size:15px;
  text-decoration:none;
}

/* GENERAL */

h1 {
  font-family: 'Prata', serif;
  text-align:center;
  font-size:64px;
  letter-spacing:13px;
  text-transform:lowercase;
}

h2 {
  font-family: 'Prata', serif;
  text-align:center;
  font-size:32px;
  letter-spacing:10px;
  text-transform:lowercase;
}

main {
  padding:10px 4rem;
  line-height:150%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #02c39a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffba08;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc5803;
}